BaseballCatcher_10/
Images/
Left_Camera_Images/
Right_Camera_Images/
Stereo_Images/
HW3_P1/build/
*.user
HW3_P1/build_debug/
*.xml
build/
build_debug/
*.jpg
*.bmp
*.zip
dallinbriggs/
*.log
tex/
*.avi
BYU_Hallway_Sequence/
VO_Practice_Sequence/
